<!-- album.html -->
<!DOCTYPE html>
<html ng-app="albumApp" ng-controller="AlbumController">
<head>
	<meta charset="UTF-8">
	<!-- Fonts and icons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- JS libraries -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  	<script src="static/album/lib/ng-file-upload/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
	<script src="static/album/lib/ng-file-upload/ng-file-upload.min.js"></script>
	<!-- App files -->
	<script src="static/album/vf-angular-deckgrid.js"></script>
	<script src="static/album/album.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="static/album/album.css">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

	<title>Albums</title>
</head>
<body ng-app="albumApp" ng-controller="AlbumController" layout="row">
<md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="1" md-whiteframe="4" layout="column">
	<md-toolbar layout-align="center center">
	    <span>Album edit</span>
	</md-toolbar>
	<md-list style="margin-left: 5%">
	    <md-list-item ng-repeat="album in albums">
	        <a ng-click="setCurrentAlbum(album)">{{album.name}}</a>
	        <md-button ng-click="deleteAlbum(album)" class="md-icon-button">
	        	<md-icon md-font-library="material-icons"> delete </md-icon>
	        </md-button>
	    </md-list-item>
	</md-list>
	<md-button style="width: 40%; margin-left: 5%" class="md-raised md-primary" ng-click="albumAddModal($event)">New album</md-button>
	<span flex></span>
	<md-button class="md-raised md-primary" href="/">Go back</md-button>
</md-sidenav>
<md-content flex>
	<div flex class="drop-box" ngf-drop="upload($file)" 
	ngf-pattern="'image/*'" layout="column">
		<span class='drop-box-label md-headline'>Drag and drop images to upload</span>
	  	<div deckgrid class="deckgrid" source="images">
	    	<div class="a-card">
	    		<img src="" data-ng-src="{{$parent.card.src}}">
	        	<md-button ng-click="deleteImage($parent.card.src)" class="md-icon-button delete-button">
	    			<md-icon class="delete-icon" md-font-library="material-icons"> delete </md-icon>
	    		</md-button>
	    		
	    	</div>
	  	</div>
  	</div>
</md-content>
</body>
</html>